

<!--<div class="container" >
<div class="row">
<div class="col-md-6">
<img id=""  src="Images/aboutFrame.jpg" />
</div>
<div class="col-md-6 aboutMe" >
<hr />
<span id="aboutMeText">"Capturing the moments of today that will wow your heart tomorrow"</span>
<img id=""  src="Images/aboutFrame2.jpg" />
</div>
<div class="col-md-6">
<img id=""  src="Images/aboutFrame3.jpg" />
</div>
<div class="col-md-6 aboutMe" >
<hr />
<span id="aboutMeText">"Capturing the moments of today that will wow your heart tomorrow"</span>
<img id=""  src="Images/aboutFrame4.jpg" />
</div>
<div class="col-md-6">
<img id=""  src="Images/aboutFrame5.jpg" />
</div>
<div class="col-md-6 aboutMe" >
<hr />
<span id="aboutMeText">"Capturing the moments of today that will wow your heart tomorrow"</span>
<img id=""  src="Images/aboutFrame2.jpg" />
</div>
</div>
</div> -->
<div class="container">
  <h1 id="AboutPageTitle">About FlyDreamWorks</h1>

  <hr></div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div  style="width: 100%;background-image:url(Images/aboutFrame41.jpg);height:600px;background-repeat:no-repeat">
        <div class="col-md-10" style="padding-top:3%;padding-left: 4%;font: normal normal normal 33px/1.4em 'eb garamond',serif;
        letter-spacing: 0.1em;">
        <div style="color: white;font-size: large; ">
          <p>
            <span class="AboutMeHeading">What we do :</span>
          &nbsp;"We hack the moment and pack the pic for you" .
          We provide complete video and photo coverage for any kind of events like Marriage,
          Birthdays, Model Shoots , Still photography etc.
          We also provide designing and editing of images and album making.
        </p>
        <p>
            <span class="AboutMeHeading">From how long :</span>
             &nbsp;We have an experience of 5 yrs in this field and Guess what "We are best at it".
          We are a well experienced professional team.
        </p>
          <p>
            <span class="AboutMeHeading">Price :</span>
             &nbsp;We believe in customer satisfaction rather than making business .
            We make your every penny count.
          </p>
           <p>
             <span class="AboutMeHeading">Our equipments :</span>
              &nbsp;We have wide variety of cameras for every specific purpose. We have canon 5d mark iii with prime lens ,
          sony a7 slow motion camera, pansonic 160,  canon 5d mark iv and many more.
        </p>
        </div>
      </div>
    </div>
    <!-- <img id=""  src="Images/aboutFrame5.jpg" style="    width: 100%;"/> -->
  </div>
</div>
