
<div class="container" style="width:400px">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Your Special Day</h1>
                <hr />
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" action="#">
                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Event Place</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" ng-model="order.event_place" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">state</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" ng-model="order.state"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">city</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-home fa-lg" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="city" id="city" placeholder="Enter your city" ng-model="order.city"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Date Of Event</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar  fa-lg" aria-hidden="true"></i></span>
                            <input type="date" class="form-control" name="date" id="date" placeholder="Date Of Event" ng-model="order.event_date"/>
                        </div>
                    </div>
                </div>
               <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Event Time</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar  fa-lg" aria-hidden="true"></i></span>
                            <input type="time" class="form-control" name="date" id="date" placeholder="Date Of Event" ng-model="order.event_time"/>
                        </div>
                    </div>
                </div>				
                <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Pincode</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar  fa-lg" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="date" id="date" placeholder="Date Of Event" ng-model="order.pincode"/>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <button type="button" class="btn btn-primary btn-lg btn-block " ng-click="saveOrders(order)">Book </button>
                </div>
            </form>
        </div>
    </div>
</div>