
<!-- <div class="container">
    <div class="row">
        <div class="col-md-6 aboutMe">
            <hr />
            <span id="aboutMeText">"Capturing the moments of today that will wow your heart tomorrow"</span>
        </div>
        <div class="col-md-6">
            <img  src="Images/stand.jpg" />
        </div>
    </div>
</div> -->


<div class="container">
  <h1 id="ContactPageTitle">Contact Details</h1>
  <hr>
  <div class="row">
    <span class="col-md-12" style="height:600px">
  <img src="Images/contactFrame1.jpg" id="contactImage">
</span>
</div>
</div>
