
<div >
  <carousel links="links"></carousel>
</div>

<!-- <div class="container col-md-offset-3 col-md-6">
  <br>

  <div class="card" id="eventsCards" style="background-color: beige;">
    <img class="card-img-top col-md-offset-3" src="Images/whatsnew.jpg" alt="Card image cap">
    <div class="card-block">
      <br>
      <br>
      <p class="card-text">
        <p id="homePanelText">
          <span> "To Bring Precision In Perfection" is our dream </span>
              <br>
            We provide complete video and photo coverage for any kind of events.

            <br>
            We are giving 12% discount on

        </p>
      </p>
    </div>
  </div>
</div> -->
