


<!-- <div ng-include src = "'Views/LoginRegTab.html'"></div> -->

<div >
  <div id="loginMenuTab" >
    <div class="dropdown"   >
      <a class="dropdown-toggle dropbtn" href="" data-toggle="dropdown">
        <i class="fa fa-align-justify" aria-hidden="true"/></a>

        <div class="dropdown-content" >
          <span ng-switch="!!LoginRegModal.UserDetails">
            <span ng-switch-when="false">
              <div>
                <a href data-toggle="modal" data-target="#loginModal"
                ng-click="LoginRegModal.logintab = true" ><i class="fa fa-sign-in" aria-hidden="true"/> Login</a>
              </div>
              <div>
                <a href data-toggle="modal" data-target="#loginModal"
                ng-click="LoginRegModal.logintab = false" ><i class="fa fa-id-badge" aria-hidden="true"/> Register</a>
              </div>
            </span>

            <span ng-switch-when="true">
              <br>
              <p >&nbsp; Hello {{LoginRegModal.UserDetails.cust_name}} </p>
              <hr>
              <a href=""  ng-click="LoginRegModal.logout()" >Logout</a>
            </span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">


      <!-- <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#loginReg">Open Modal</button> -->

      <div class="modal fade" id="loginModal" role="dialog" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="panel ">
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-xs-6">
                        <p ng-click = "LoginRegModal.logintab = true"  ng-class="{active: logintab == true}" id="login-form-link" >Login</p>
                      </div>
                      <div class="col-xs-6">
                        <p ng-click = "LoginRegModal.logintab = false"   ng-class="{active: logintab == true}"  id="register-form-link" >Register</p>
                      </div>
                    </div>

                    <hr>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-12">
                        <div ng-switch="LoginRegModal.logintab">
                          <div ng-switch-when=true>
                            <form id="login-form"  ng-submit="LoginRegModal.custlogin()">
                              <div class="form-group">
                                <input type="email"  id="emailid" autofocus="autofocus" required ng-model="LoginRegModal.username" class="form-control" placeholder="Email Id" >
                              </div>
                              <div class="form-group">
                                <input type="password"  id="password" required ng-model="LoginRegModal.password" class="form-control" placeholder="Password">
                              </div>

                              <div class="form-group">
                                <div class="row">
                                  <div class="col-sm-6 col-sm-offset-3">
                                    <input type="submit"  id="login-submit"  class="form-control btn btn-sm btn-submit" >
                                  </div>
                                </div>
                              </div>


                              <span ng-if= "LoginFailed == true" style="color:red">
                                UserName and password did not match!
                              </span>
                              <!-- <div class="form-group">
                              <div class="row">
                              <div class="col-lg-12">
                              <div class="text-center">
                              <a href="#"  class="forgot-password">Forgot Password?</a>
                            </div>
                          </div>
                        </div>
                      </div> -->
                    </form>
                  </div>
                  <div ng-switch-when=false>
                    <form id="register-form" name="regform" ng-submit="LoginRegModal.saveCustomer()">
                      <div class="form-group">
                        <input type="text"  id="username" autofocus="autofocus" required class="form-control" ng-model="LoginRegModal.Regusername" placeholder="Username" >
                      </div>
                      <div class="form-group">
                        <input type="email"  id="email" required class="form-control" ng-model="LoginRegModal.Regemail" placeholder="Email Address" >
                      </div>
                      <div class="form-group">
                        <input type="password"  id="password" name="password" required    class="form-control" ng-model="LoginRegModal.Regpassword" placeholder="Password">
                      </div>

                      <div class="form-group" name="ak" ng-class="{'has-error': (regform.confirm_password.$dirty) && (LoginRegModal.Regpassword != LoginRegModal.confirm_password) && LoginRegModal.confirm_password.length > 0 } ">
                        <input type="password"  id="confirm-password" name="confirm_password"   class="form-control"  ng-model="LoginRegModal.confirm_password"
                        placeholder="Confirm Password">
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" ng-disabled="LoginRegModal.Regpassword != LoginRegModal.confirm_password" id="register-submit"  class="form-control btn btn-register" >
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

</div>
</div>
</div>






<!--
<div ng-include src = "'Views/LoginRegTab.html'"></div>
<div class="container">
<!-- <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#loginReg">Open Modal</button> -->
<!-- <div class="modal fade" id="loginModal" role="dialog">
<div class="modal-dialog">
Modal content
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Modal Header</h4>
</div>
<div class="modal-body">
<p>Some text in the modal.</p>
<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#regModal">Open Modal</button>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
<div class="modal fade" id="regModal" role="dialog">
<div class="modal-dialog">
Modal content
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Modal Header</h4>
</div>
<div class="modal-body">
<p>Some text in the modal.</p>
<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#loginReg">Open Modal</button>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div> -->
<!-- <script>
$(function() {
$('#login-form-link').click(function(e) {
$("#login-form").delay(100).fadeIn(100);
$("#register-form").fadeOut(100);
$('#register-form-link').removeClass('active');
$(this).addClass('active');
e.preventDefault();
});
$('#register-form-link').click(function(e) {
$("#register-form").delay(100).fadeIn(100);
$("#login-form").fadeOut(100);
$('#login-form-link').removeClass('active');
$(this).addClass('active');
e.preventDefault();
});
});
</script> -->
<!-- <div class="navbar-collapse collapse"> -->
<!-- <div class="navbar-right"> -->
<!-- <div class="btn-group"> -->
<!-- <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"> -->
<!-- Login <span class="caret"></span> -->
<!-- </button> -->
<!-- <div class="dropdown-menu" > -->
<!-- <div class="col-sm-12"> -->
<!-- <div class="col-sm-12"> -->
<!-- Login -->
<!-- </div> -->
<!-- <div class="col-sm-12"> -->
<!-- <input type="text" placeholder="Uname or Email" ng-model="loginModel.username"  class="form-control input-sm" id="inputError" /> -->
<!-- </div> -->
<!-- <br/> -->
<!-- <div class="col-sm-12"> -->
<!-- <input type="password" placeholder="Password" ng-model = "loginModel.password" class="form-control input-sm" name="password" id="Password1" /> -->
<!-- </div> -->
<!-- <div class="col-sm-12"> -->
<!-- <button type="button" ng-click = "loginModel.custlogin()"   class="btn btn-success btn-sm">Sign in</button> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
