
<!-- <div class="navbar-collapse collapse"> -->
<!-- <div class="navbar-right"> -->
<!-- <div class="btn-group"> -->
<!-- <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"> -->
<!-- Login <span class="caret"></span> -->
<!-- </button> -->
<!-- <div class="dropdown-menu" > -->
<!-- <div class="col-sm-12"> -->
<!-- <div class="col-sm-12"> -->
<!-- Login -->
<!-- </div> -->
<!-- <div class="col-sm-12"> -->
<!-- <input type="text" placeholder="Uname or Email" ng-model="loginModel.username"  class="form-control input-sm" id="inputError" /> -->
<!-- </div> -->
<!-- <br/> -->
<!-- <div class="col-sm-12"> -->
<!-- <input type="password" placeholder="Password" ng-model = "loginModel.password" class="form-control input-sm" name="password" id="Password1" /> -->
<!-- </div> -->
<!-- <div class="col-sm-12"> -->
<!-- <button type="button" ng-click = "loginModel.custlogin()"   class="btn btn-success btn-sm">Sign in</button> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->


<div id="loginMenuTab">
  <div class="dropdown" >
    <span class="dropbtn"><i class="fa fa-bars" aria-hidden="true" ></i></span>
    <div class="dropdown-content">
      <a href="#" data-toggle="modal" data-target="#loginModal" ng-click="logintab = true">Login</a>
      <a href="#" data-toggle="modal" data-target="#loginModal"   ng-click="logintab = false">Register</a>

    </div>
  </div>
</div>
